@font-face {
    font-family: 'KC Pelletier Typed';
    src: url('/www/fonts/KC_Pelletier_Typed/KCPelletierTyped.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KC Pelletier Typed';
    src: url('/www/fonts/KC_Pelletier_Typed/KCPelletierTyped-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'KC Pelletier Typed';
    src: url('/www/fonts/KC_Pelletier_Typed/KCPelletierTyped-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'eufm10';
    src: url('/www/fonts/eufm10.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}