---
import Layout from '../layouts/Layout.astro';

import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

import bg from '../assets/bgc3.jpg';
import bird from '../assets/bird.svg?raw';
---

<Layout title="le allodole">
    <!-- bg -->
    <div class="absolute -z-10 flex min-h-screen w-full flex-col justify-center lg:block">
        <Image src={bg} alt="bg" class="mt-20 h-auto w-screen lg:m-0" />
    </div>

    <!-- bird -->
    <div
        class="absolute top-0 flex h-screen w-full select-none items-start justify-center pt-8 lg:m-0"
    >
        <Fragment set:html={bird} />
    </div>

    <!-- scroll icon -->
    <div class="hidden h-screen w-full flex-col items-center justify-end pb-8 lg:absolute lg:flex">
        <Icon name="ph:mouse-simple-light" class="h-6 w-6 text-white" />
    </div>

    <!-- menu -->
    <div
        class="flex h-screen w-full flex-col items-center justify-end p-8 lg:flex-row lg:justify-between"
    >
        <div
            class="z-10 flex flex-col items-center border-white p-4 text-center font-['eufm10'] text-4xl font-bold text-white *:mix-blend-difference *:transition-all hover:*:bg-rose-500 lg:h-2/3 lg:items-baseline lg:border-l-2 lg:py-12 lg:*:pr-1"
        >
            <a href="#manifesto">.manifesto</a>
            <a href="#">.il lavoro di una puttana</a>
            <a href="/www/calls/01">.call 1</a>
            <a href="#">.shop</a>
        </div>
        <div
            class="z-10 flex justify-end border-white p-4 text-white lg:h-2/3 lg:flex-col lg:space-x-0 lg:border-r-2 lg:py-12 lg:pr-2"
        >
            <a target="_blank" href="#">
                <Icon
                    name="ph:instagram-logo-duotone"
                    class="h-10 w-10 p-1 transition-all hover:text-rose-500"
                />
            </a>
            <a target="_blank" href="#">
                <Icon
                    name="ph:tiktok-logo-duotone"
                    class="h-10 w-10 p-1 transition-all hover:text-rose-500"
                />
            </a>
        </div>
    </div>

    <!-- manifesto -->
    <div id="manifesto" class="flex w-full flex-col p-8 lg:flex-row">
        <div class="top-0 self-start pt-8 text-white lg:sticky lg:w-1/3">
            <div class="pb-2 font-['eufm10'] text-6xl lg:pb-4">.manifesto</div>
            <div>
                <a
                    class="hidden pr-1 font-['eufm10'] text-3xl transition-all hover:bg-rose-500 lg:block lg:w-min lg:whitespace-nowrap"
                    href="#01"
                >
                    1. sul canto delle allodole
                </a>
            </div>
            <div>
                <a
                    class="hidden pr-1 font-['eufm10'] text-3xl transition-all hover:bg-rose-500 lg:block lg:w-min lg:whitespace-nowrap"
                    href="#02"
                >
                    2. sull'assassinio degli alberi
                </a>
            </div>
            <div>
                <a
                    class="hidden pr-1 font-['eufm10'] text-3xl transition-all hover:bg-rose-500 lg:block lg:w-min lg:whitespace-nowrap"
                    href="#03"
                >
                    3. sulla solitudine dello scrittore
                </a>
            </div>
        </div>
        <div class="flex flex-col space-y-3 text-white lg:w-1/2">
            <div class="pt-8 font-['eufm10'] text-4xl" id="01">1. sul canto delle allodole</div>
            <div class="font-['Averia_Serif_Libre']">
                chiudi gli occhi. ovunque tu sia: sul bus, per strada, a lezione. fermati un momento
                e chiudi gli occhi: li vedi quei fili luminosi che galleggiano? prendili, uno per
                volta, intrecciali e arrotolali, poi lascia che le tue mani continuino da sole.
                ascolta. permettimi di raccontarti una storia.
            </div>
            <div class="white text-balance font-['Averia_Serif_Libre'] text-xl">
                nel peggior bar del quartiere siede un vecchio stanco. quando gli chiedono il suo
                nome non risponde: è un cantastorie, e non esiste davvero. non ha una faccia, non ha
                una voce, non ha dita con cui scrivere. è anzi lui stesso solamente una storia, un
                canto alto al mattino, un fumo che voluttuoso esce da una pipa. alcuni lo chiamano
                allodola, ma ormai raramente qualcuno lo chiama. perlopiù lo lasciano in pace, un
                vecchio stanco e un bicchiere di whisky. arriva l'alba, e al suo fianco siede una
                puttana con il trucco sbavato. sembra giovane. ruba l'ultimo sorso dal bicchiere del
                vecchio e sorridendo gli chiede una storia. qualcuno con la memoria più lunga di lei
                potrebbe ricordare un bambino, con la stessa giacca di velluto, che correva dietro a
                lucertole che sembravano draghi. passava di fianco al giardiniere, al commesso, al
                notaio, e non faceva che schernirli. guardatemi, non sarò mai come voi, diceva.
                guardatemi, guardatemi, guardatemi: passerò i miei giorni a raccontare storie e a
                fare l'amore. che non sono poi le uniche cose per cui dovrebbe vivere un uomo? ma il
                vecchio allora era ancora un bambino, e non conosceva davvero il mondo. che per
                campare serve denaro, o come lo paghi l'affitto e come lo cresci tuo figlio? il
                vecchio alla giovane racconta allora di un bambino diverso, che ha costruito una
                bancarella e ci si è seduto dietro. che poi perchè perchè arrendrsi al giardiniere e
                al commesso e al notaio quando puoi essere pagato per fare quello che ami? che ora
                possono anche schernirlo, d'altronde che male c'è a scrivere articoli o inserti o
                ricette o autobiografie per altri? il lavoro di una puttana. e sia il vecchio che la
                ragazza sanno che non è così male come altri lo raccontano. la giovane è brava a
                leggere gli uomini. non fa fatica a vedere nel vecchio un bambino, che in giorni
                lontani ha rincorso fenici. dietro di lui uno stormo di <span
                    class="text-rose-500 mix-blend-difference"
                >
                    allodole.
                </span>
            </div>
            <div class="font-['Averia_Serif_Libre']">
                ora apri gli occhi, senza lasciare andare quei fili intrecciati. adesso è il tuo
                turno. mi sembra equo, no? raccontami una storia. sto ascoltando.
            </div>
            <div class="pt-16 font-['eufm10'] text-4xl" id="02">
                2. sull'assassinio degli alberi
            </div>
            <div class="font-['Averia_Serif_Libre'] text-xl">
                <span class="text-rose-500">le allodole</span> è una rivista di narrativa per autori,
                illustratori, fotografi e altri artisti esordienti. La sua struttura è atipica, perchè
                da numero a numero prende in prestito forma e tematiche da ambienti diversi: tal volta
                può essere un magazine di moda, altre un libro di ricette, altre ancora una guida turistica...
                le allodole è mutamento e sperimentazione e rottura, all'interno di contesti che si cercano
                di destrutturare e reimmaginare in una veste più narrativa. I diversi volumi sono quindi
                tematici ma la redazione è alla ricerca di contributi che da questo tema cerchino di
                fuggire, che lo usino come tela da strappare o su cui stendere il proprio colore. Non
                ci sono limitazioni di genere o di formato. Nonostante la narrativa sia l'elemento su
                cui la rivista si fonda, vi è anche la possibilità di trovare interviste e inserti più
                tecnici a seconda del numero.
            </div>
            <div class="font-['Averia_Serif_Libre']">
                ti invitiamo a collaborare alle allodole come
            </div>
            <div class="flex flex-col space-y-3 lg:flex-row lg:space-x-3 lg:space-y-0">
                <a
                    href="/www/calls/01"
                    class="group flex rounded-lg border border-white transition-all lg:w-1/3"
                >
                    <div
                        class="bg-pattern-diagonal-lines-rose rotate-180 rounded-r-lg border-l p-1 text-center text-2xl transition-all [writing-mode:vertical-lr] group-hover:text-rose-500"
                    >
                        autore
                    </div>
                    <div class="flex flex-grow items-center text-balance px-2 py-4">
                        poche indicazioni generali, per quelle più precise riferirsi alla call
                        aperta. Siamo alla ricerca di racconti brevi di qualsiasi genere, purchè in
                        qualche modo ricadono sotto il tema del prossimo numero.
                    </div>
                </a>
                <a
                    href="/www/calls/01"
                    class="group flex rounded-lg border border-white transition-all lg:w-1/3"
                >
                    <div
                        class="bg-pattern-diagonal-lines-teal rotate-180 rounded-r-lg border-l p-1 text-center text-2xl transition-all [writing-mode:vertical-lr] group-hover:text-teal-500"
                    >
                        illustratore
                    </div>
                    <div
                        class="flex flex-grow flex-col items-center space-y-2 text-balance px-2 py-4 leading-tight"
                    >
                        <div>
                            ogni numero della rivista ha un illustratore principale: suo sarà il
                            compito di disegnare la copertina e altri inserti per i racconti
                            all'interno. Se vuoi candidarti per il prossimo numero inviaci un
                            portfolio o alcuni dei tuoi lavori!
                        </div>
                        <div class="">
                            altri artisti che vogliono contribuire con un'illustrazione specifica
                            inerente alla call attiva possono inviarci i propri lavori dalla sezione
                            "contribuisci".
                        </div>
                    </div>
                </a>
                <a
                    href="/www/calls/01"
                    class="group flex rounded-lg border border-white transition-all lg:w-1/3"
                >
                    <div
                        class="bg-pattern-diagonal-lines-amber rotate-180 rounded-r-lg border-l p-1 text-center text-2xl transition-all [writing-mode:vertical-lr] group-hover:text-amber-500"
                    >
                        altro
                    </div>
                    <div class="flex flex-grow items-center space-y-2 text-balance px-2 py-4">
                        fotografi o musicisti o grafici o intagliatori o se vedi arte nel modo in
                        cui i pomodori crescono sotto il sole di mezzogiorno: qualsiasi contributo
                        tu possa dare alla allodole sarà colto e se maturo troverà il suo posto
                        all'interno del prossimo numero.
                    </div>
                </a>
            </div>
            <div class="pt-3 font-['Averia_Serif_Libre']">
                *tutte le contribuzioni saranno valutate e riceveranno una risposta, solitamente
                entro 30 giorni, che questa sia positiva o negativa. gli artisti i cui lavori siano
                selezionati per la pubblicazione riceveranno un compenso in percentuale sul budget
                complessivo dedicato al numero.
            </div>
            <div class="pt-16 font-['eufm10'] text-4xl" id="03">
                3. sulla solitudine dello scrittore
            </div>
            <div class="text-xl">
                Vivamus felis massa, tincidunt in sapien non, egestas maximus massa. Aenean sit amet
                leo felis. Suspendisse tempus sapien eget fringilla rutrum. Aenean pretium velit nec
                tristique pulvinar. Suspendisse accumsan tortor at arcu lacinia, quis pretium libero
                pulvinar. Sed ultricies odio quis mauris hendrerit, non lobortis nisl ultrices.
                Curabitur sagittis sollicitudin ipsum, eu lacinia ligula facilisis ut. Fusce
                efficitur sodales nulla at lobortis. Etiam tristique vitae arcu vel blandit. Cras
                orci ex, viverra pretium leo sollicitudin, pellentesque feugiat eros. Ut porttitor
                egestas aliquam. Quisque et erat quis dui varius ornare vel in massa. Vivamus
                malesuada felis sit amet pellentesque faucibus. Etiam scelerisque viverra viverra.
                Cras dictum tellus turpis, in interdum ipsum euismod non. Aliquam maximus ex id
                tempor eleifend. Aliquam viverra nisl venenatis dictum egestas. Nulla facilisi.
                Vivamus posuere facilisis interdum. Nullam et facilisis risus. Donec nunc nulla,
                semper et turpis fermentum, cursus scelerisque mi. Suspendisse ornare arcu eget
                rhoncus mattis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
                id metus ut velit eleifend aliquam. Aenean at elementum libero, eget malesuada mi.
                Pellentesque fringilla lacinia risus, ut tempor quam eleifend non. Donec et
                fermentum erat. Integer ullamcorper lobortis urna, iaculis scelerisque augue
                vestibulum quis. Nulla rhoncus libero non tristique vestibulum. Vivamus venenatis,
                nisl et eleifend gravida, metus turpis tincidunt urna, quis tempus orci arcu sit
                amet massa. Maecenas a malesuada quam. Fusce nec tortor dui. Fusce gravida ipsum nec
                maximus euismod. Duis neque enim, semper id porta non, convallis et.
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="h-80"></div>
</Layout>

<style is:global>
    html {
        scroll-behavior: smooth;
    }

    #bird {
        @apply w-screen mix-blend-difference lg:w-1/2;
    }

    .icon-tiktok {
        @apply h-8 w-8;
    }
</style>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

    body {
        @apply bg-[#131313ff];
    }

    .bg-pattern-diagonal-lines-rose {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f43f5e' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }

    .bg-pattern-diagonal-lines-teal {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2314b8a6' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }

    .bg-pattern-diagonal-lines-amber {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f59e0b' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    }
</style>
